body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid lightgray;
}

hr {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid lightgray;
}

ul {
  padding: 0;
  margin: 1rem 1rem 1rem 2rem;
}

#root {
  margin: 2rem;
}

.flex {
  display: flex;
}

.flex > div {
  padding: 0.5rem 2rem;
  border: 1px solid lightgray;
  margin-left: -1px;
}
